body {
    background-color: #464646;
    margin: 0;
    padding: 0;
}
.d-flex {
    display: flex;
    justify-content: center;
}
.d-flex img {
    display: block;
    width: 100%;
    height: auto;
}
.text-construction {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: red;
}