@use '../shared/auth-form.scss';

.forgot-link {
    font-size: 0.85rem;
    color: var(--accent);
    font-weight: 500;
    transition: color 0.3s;

    &:hover {
        color: var(--accent-light);
    }
}